<legend class="govuk-visually-hidden">
  <%= t(".heading") %>
</legend>

<h1 class="govuk-heading-l">
  <%= t(".heading") %>
</h1>

<%=
  f.govuk_collection_radio_buttons :exemption_ids,
  form.all_exemptions,
  :id, :radio_button_label,
  small: true,
  legend: { text: "" },
  hint: {
    text:
      [
        t(".lead_paragraph.text_1"),
        t(".lead_paragraph.text_2")
      ].join("<br/>").html_safe
  }
%>
