<p class="panel panel-border-wide">
  <%=
    t(
      "flood_risk_engine.enrollments.steps.add_exemptions.lead_paragraph.text",
      link: link_to(
        t("flood_risk_engine.enrollments.steps.add_exemptions.lead_paragraph.link"),
        "https://www.gov.uk/government/publications/environmental-permitting-regulations-exempt-flood-risk-activities",
        target: "blank"
      )
    ).html_safe
  %>
</p>

<fieldset>
  <legend class="visuallyhidden">
    <%= t("flood_risk_engine.enrollments.steps.add_exemptions.heading") %>
  </legend>
  <%= form_group_and_validation(form, :base) do %>
    <div class="form-group">
      <%= f.collection_check_boxes( :exemption_ids, form.all_exemptions, :id, :code ) do |b|
            b.label(class: "block-label exemption") do
              b.check_box(data: { code: b.object.code }) + ' ' +
              b.object.summary + ' ' +
              content_tag('span', b.text, class: "exmpt")
            end
          end
      %>
    </div>
  <% end %>
</fieldset>
