<span class="govuk-visually-hidden">
  <%= t(".legend") %>
</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".heading") %>
    </h1>
    <%= f.govuk_phone_field :telephone_number,
      width: 10,
      label: { text: t(".form_label") },
      hint: { text: t(".form_hint") }
    %>
  </div>
</div>
