<span class="govuk-visually-hidden">
  <%= t(".legend") %>
</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".heading") %>
    </h1>
    <%= f.govuk_email_field :email_address,
      width: 20,
      label: { text: t(".email_address.label") }
    %>
    <%= f.govuk_email_field :email_address_confirmation,
      width: 20,
      label: { text: t(".email_address_confirmation.label") }
    %>
  </div>
</div>
