<!-- layout for steps -->
<h1 class="heading-large">
  <%= yield :heading %>
</h1>

<!-- There is some potentially quick complex logic around the back link -
see the DigitalServicesCore::BackLink class -->
<a class="link-back" href="">Back</a>

<%= render 'flood_risk_engine/enrollments/validation_errors', form: form %>

<%= yield %>

<!-- temp debug stuff -->
<br/>
<br/>
<br/>
<small>
<pre>
  <%= @form.inspect %>
</pre>
</small>
