# This project uses environment variables for configuration
# Copy .env.example and rename as .env in the project root
# and add correct values. You can also use an environment specific file
# e.g. .env.development

ADDRESS_FACADE_TEST_SERVER=
ADDRESS_FACADE_TEST_PORT=
ADDRESS_FACADE_SERVER=
ADDRESS_FACADE_PORT=
ADDRESS_FACADE_CLIENT_ID=
ADDRESS_FACADE_KEY=

## Errbit settings
AIRBRAKE_API_KEY='api-key'
AIRBRAKE_HOST='airbrake-host'

SECRET_KEY_BASE=123545219fb18bc39d1ce47dcc6c2bba25abf257160ce27467ada0083fa67567c378a8f19d983bdc98d9e187e1c34774ee14f2fcff01f5f3c9273ef192e7c86b

# Email
DEVISE_MAILER_SENDER=no-reply@example.org
EMAIL_HOST='127.0.0.1'
EMAIL_PORT=1025
