/.rubocop-*
/.byebug_history
.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.*
spec/dummy/tmp/
spec/dummy/.sass-cache

# Overcommit configuration files
.overcommit*
.git-hooks/
rubocop/
.rubocop.yml

# simplecov output
coverage
.DS_Store
.env
.env.test
.env.local
spec/dummy/.byebug_history
spec/dummy/.env

.idea
flood_risk_engine.sublime-project
flood_risk_engine.sublime-workspace
