// The 'last updated date' on the privacy policy.
.app-c-published-dates {
  font-size: 14px;
  line-height: 1.1428571429;
}

@media (min-width: 641px) {
  .app-c-published-dates {
    font-size: 16px;
    line-height: 1.25;
  }
}
