---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"ali@example.org","template_id":"6e444a8c-c656-45aa-97d8-e95181ff3a75","personalisation":{"registration_number":"EXFRA001014","exemption_description":"Practical
        Steel Keyboard FRA_RSPEC_1."}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 8c008c2a-2fa0-4488-4ed5-13e158cb10c6
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Registration submitted: \r\n#please wait for us
        to confirm it\r\n---\r\n#Your reference is EXFRA001014\r\n---\r\n#Exemption
        submitted\r\nPractical Steel Keyboard FRA_RSPEC_1.\r\n---\r\nWhat happens
        next\r\nWe''ll email you within 10 working days to tell you if your registration
        is valid.\r\n\r\nYou must not start work until we confirm your registration.\r\n\r\n#What
        we''ll check\r\nWe''ll check if there are reasons why you can''t register
        an exemption at the location you gave. For example, a location that is environmentally
        sensitive or too close to a flood defence structure operated by us.\r\n\r\n#What
        you must check\r\nYou are responsible for checking that you can meet the description
        and conditions in the exempt flood risk activities guidance.\r\n----\r\n#Contact
        the Environment Agency\r\nfloodriskactivity@environment-agency.gov.uk\r\nTelephone:
        03708 506 506\r\nMinicom: 03702 422 549\r\nMonday to Friday, 8am to 6pm","from_email":"flood.risk.activity.exemption@notifications.service.gov.uk","subject":"Flood
        risk activity exemption submitted"},"id":"8f72811e-7765-46b5-a007-a38918c8876f","reference":null,"scheduled_for":null,"template":{"id":"6e444a8c-c656-45aa-97d8-e95181ff3a75","uri":"https://api.notifications.service.gov.uk/services/3c49a0a8-ac02-4b40-88de-bcba588c0e6c/templates/6e444a8c-c656-45aa-97d8-e95181ff3a75","version":8},"uri":"https://api.notifications.service.gov.uk/v2/notifications/8f72811e-7765-46b5-a007-a38918c8876f"}

'
  recorded_at: Wed, 08 Dec 2021 15:39:12 GMT
recorded_with: VCR 6.0.0
