<% if object.errors.any? %>
<div class="error-summary" role="alert">
  <h2 class="heading-medium error-summary-heading"><%= t(".heading") %></h2>

  <ul class="error-summary-list">
    <% object.errors.each do |field, message| %>
      <li><a href="#<%= field %>" data-turbolinks="false"><%= message %></a></li>
    <% end %>
  </ul>
</div>
<% end %>
