<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= message.subject %></title>
  <style type="text/css">
    /* Based on The MailChimp Reset INLINE: Yes. */
    /* Client-specific Styles */

    #outlook a {
      padding: 0;
    }
    /* Force Outlook to provide a "view in browser" menu link. */

    body {
      width: 100% !important;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
    /* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/

    .ExternalClass {
      width: 100%;
    }
    /* Force Hotmail to display emails at full width */

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
      line-height: 100%;
    }
    /* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
    /* End reset */

    #header {
      width: 100%;
      height: 55px;
      display: block;
      background-color: #0B0C0C;
      padding: 0;
    }
    #govuk-masthead {
      padding: 12px 0 12px 0;
    }
    .wrapper {
      max-width: 570px;
      padding: 0 15px;
      margin: 0 auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    small {
      color: #0B0C0C;
      font-family: sans-serif;
      margin: 15px 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
    }
    p,
    ul,
    ol,
    h3,
    h4,
    h5,
    h6 {
      font-size: 19px;
      line-height: 1.315789474;
    }
    h1 {
      font-size: 36px;
      line-height: 1.111111111;
      padding: 15px 0;
    }
    h2,
    .lead {
      font-size: 24px;
      line-height: 1.25;
      padding-top: 30px;
    }
    small,
    .details,
    .footer {
      font-size: 16px;
      line-height: 1.25;
    }
    .details,
    .footer,
    .details a,
    .footer a {
      color: #6F777B !important;
    }
    ol.details,
    ul.details {
      padding-left: 0;
    }
    .details li {
      list-style-type: none;
    }
    /* Some sensible defaults for images
    Bring inline: Yes. */

    img {
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }
    a img {
      border: none;
    }
    .image_fix {
      display: block;
    }
    /* Yahoo paragraph fix
    Bring inline: Yes. */

    p {
      margin: 15px 0;
    }
    /* Hotmail header color reset
    Bring inline: Yes. */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #0B0C0C !important;
    }
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
      color: #005EA5 !important;
    }
    /* Outlook 07, 10 Padding issue fix
    Bring inline: No.*/

    table td {
      border-collapse: collapse;
    }
    /* Remove spacing around Outlook 07, 10 tables
    Bring inline: Yes */

    table {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }
    /* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email and make sure to bring your styles inline.  Your link colors will be uniform across clients when brought inline.
    Bring inline: Yes. */

    a {
      color: #005EA5;
    }
    /* Waste exemptions confirmation email styles*/

    .summary-heading {
      color: #ffffff !important;
      font-size: 36px;
      line-height: 1.315789474;
      margin: 50px 0 20px 0;
      padding: 30px;
      font-weight: bold;
      text-align: center;
      background-color: #28A197;
    }
    .panel {
      border-left: 10px solid #bfc1c3;
      padding: 10px;
      margin-bottom: 30px;
    }
    .border-top {
      border-top: 2px solid #BFC1C3;
      padding-top: 30px;
    }
    table {
      font-family: sans-serif;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    th,
    td {
      padding: 5px;
      text-align: left;
      border-bottom: 1px solid #BFC1C3;
    }
    th {
      text-align: left;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 24px;
      line-height: 1.111111111;
    }
    .table-data {
      text-align: right;
    }
    .footer-top {
      margin-top: 45px;
    }
    .footer-bottom {
      margin-bottom: 45px;
    }
    .footer a {
      text-decoration: none;
    }
    /***************************************************
    ****************************************************
    MOBILE TARGETING
    ****************************************************
    ***************************************************/

    @media only screen and (max-device-width: 480px) {
      /* Part one of controlling phone number linking for mobile. */

      a[href^="tel"],
      a[href^="sms"] {
        text-decoration: none;
        color: blue;
        /* or whatever your want */

        pointer-events: none;
        cursor: default;
      }
      .mobile_link a[href^="tel"],
      .mobile_link a[href^="sms"] {
        text-decoration: default;
        color: orange !important;
        pointer-events: auto;
        cursor: default;
      }
      .summary-heading {
        font-size: 30px !important;
        margin: 30px 0 10px 0 !important;
        padding: 30px !important;
      }
    }
    /* More Specific Targeting */

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      /* You guessed it, ipad (tablets, smaller screens, etc) */
      /* repeating for the ipad */

      a[href^="tel"],
      a[href^="sms"] {
        text-decoration: none;
        color: blue;
        /* or whatever your want */

        pointer-events: none;
        cursor: default;
      }
      .mobile_link a[href^="tel"],
      .mobile_link a[href^="sms"] {
        text-decoration: default;
        color: orange !important;
        pointer-events: auto;
        cursor: default;
      }
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      /* Put your iPhone 4g styles in here */
    }
    /* Android targeting */

    @media only screen and (-webkit-device-pixel-ratio: .75) {
      /* Put CSS for low density (ldpi) Android layouts in here */
    }
    @media only screen and (-webkit-device-pixel-ratio: 1) {
      /* Put CSS for medium density (mdpi) Android layouts in here */
    }
    @media only screen and (-webkit-device-pixel-ratio: 1.5) {
      /* Put CSS for high density (hdpi) Android layouts in here */
    }
    /* end Android targeting */
  </style>
  <!--[if IEMobile 7]>
  <style type="text/css">

  </style>
  <![endif]-->

  <!--[if gte mso 9]>
    <style>
  body {
    margin-left: 30px;
    margin-right: 30px;
  }

  ul li {
    margin-left: 45px;
  }

  table {
    width: 95%;
  }

  .panel {
    border-left: none;
  }

  .footer a {
    text-decoration:none;
  }
    </style>
  <![endif]-->

  <!--[if gte mso 12]>
    <style type="text/css">

  body {
    margin-left: 30px;
    margin-right: 30px;
  }

  ul li {
    margin-left: 45px;
  }

  table {
    width: 95%;
  }

  .panel {
    border-left: none;
  }

  .footer a {
    text-decoration:none;
  }
    </style>
<![endif]-->
</head>

<body>


  <div id="header" style="width:100%; height: 55px; display: block; background-color: #0B0C0C;">
    <!--[if mso]>
      <div style="border:10px solid #0B0C0C;">
    <![endif]-->


    <div class="wrapper" style="text-decoration:none !important; max-width: 570px; height: 55px; padding: 0 15px;">
      <%= email_image_tag( "govuk_logotype_email.png", { :alt=> 'GOV.UK', :border => '0', :width => '152', :height => '31', :id => 'govuk-masthead', :style => 'vertical-align: middle;padding: 12px 0 12px 0;' }) %>
    </div>

    <!--[if mso]>
      </div>
    <![endif]-->

  </div>




  <div class="wrapper">

    <!--[if mso]>
      <div style="border:50px solid #28A197;">
    <![endif]-->

    <h1 class="summary-heading" style="color: #ffffff!important;font-size:36px;line-height:1.315789474;margin:50px 0 20px 0;padding:30px;font-weight:bold;text-align:center;background-color:#28A197;">
        <%= yield :heading %>
    </h1>

    <!--[if mso]>
      </div>
    <![endif]-->

    <!-- START YIELD -->
      <%= yield %>
    <!-- END YIELD -->

  </div>
</body>

</html>
