<%# copied from wex %>
<% errors = local_assigns[:errors] || form.errors || [] %>
<% if errors.any? %>
  <div class="error-summary" role="group" aria-labelledby="groupLabel" tabindex="-1">

    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
      <%= t '.you_have' %> <%= pluralize(errors.count, "error") %>
    </h1>

    <ul class="error-summary-list">
      <% errors.each do |attr, msg| %>
        <li>
          <%= link_to msg.html_safe,
                      "##{error_link_id(attr)}",
                      class: "error-text" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
