<h1 class="govuk-heading-l">
  <%= t(".heading") %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t(".if_you_typed") %></p>
    <p class="govuk-body"><%= t(".if_you_pasted") %></p>
    <p class="govuk-body"><%= t(".call_our_helpline") %></p>
  </div>
</div>
