<div class="text">
  <h1 class="heading-large">
    Privacy Policy: how we use your personal information
  </h1>
  <p>
    We are the Environment Agency and we run the Register Your Flood Risk Activity service. We are the data controller for this service. A data controller determines how and why personal data (personal information) is processed.
  </p>
  <p>
    Our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a> explains your rights and how we deal with your personal information. You can access the charter using the link or go to GOV.UK and search 'Environment Agency personal information charter'.
  </p>

  <h2 class="heading-medium">
    The personal data we need
  </h2>
  <p>
    The personal data we collect about you includes:
  </p>
  <ul class="list list-bullet">
    <li>the applicant's name (whether an individual, sole trader, employee or agent) and the business name</li>
    <li>the applicant’s address (whether an individual, sole trader, business or organisation)</li>
    <li>contact details including email address and telephone number</li>
    <li>the type of exempt flood risk activity being carried out</li>
    <li>the locations of the activities</li>
  </ul>
  <p>
    We are allowed to process your personal data because we have official authority to register flood risk activity exemptions. The lawful basis for processing your personal data is to exercise our official authority that is set out in law.
  </p>

  <h2 class="heading-medium">
    What we do with your personal data
  </h2>
  <p>
    We use your personal data in order to process your registration. If you do not provide the information requested, we cannot register your flood risk activity exemptions.
  </p>
  <p>
    We put some of the information from your registration on a public register. This will include the applicant’s name and address, the type of exempt flood risk activity being carried out, and the locations of the activities. We will not share or disclose any further personal data to any other party outside the Environment Agency without your explicit consent, unless lawfully able to do so.
  </p>
  <p>
    We store and process your personal data on our servers within the European Economic Area (EEA).
  </p>
  <p>
    We do not use your personal data to make an automated decision or for automated profiling.
  </p>

  <h2 class="heading-medium">
    How long we keep your personal data
  </h2>
  <p>
    We will keep your personal data for 7 years after a registration has ended.
  </p>

  <h2 class="heading-medium">
    Contact details
  </h2>
  <p>
    Our Data Protection Officer (DPO) is responsible for independent advice and monitoring of the Environment Agency’s use of personal information.
  </p>
  <p>
    If you have any concerns or queries about how we process personal data, or if you would like to make a complaint or request relating to data protection, please contact:
  </p>
  <p>
    Data Protection Officer<br>
    Environment Agency<br>
    Horizon House<br>
    Deanery Road<br>
    Bristol<br>
    BS1 5AH
  </p>
  <p>
    Email: <a href="mailto:dataprotection@environment-agency.gov.uk">dataprotection@environment-agency.gov.uk</a>
  <p>
  <p>
    The Information Commissioner's Office (ICO) is the supervisory authority for data protection legislation. The <a href="https://ico.org.uk/your-data-matters">ICO website</a> has a full list of your rights under data protection legislation.
  </p>
  <p>
    You have the right to <a href="https://ico.org.uk/make-a-complaint">lodge a complaint with the ICO</a> at any time.
  </p>
  <div class="app-c-published-dates">
    This notice was last updated on 31 May 2019.
  </div>
</div>
