<% content_for :title do %>
  Privacy Notice
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Privacy Notice
    </h1>
    <h2 class="govuk-heading-m">
      How we use your personal data
    </h2>
    <p class="govuk-body">
      This privacy policy explains why we collect your personal data and what we do with it. It also explains your rights and how to enforce them.
    </p>
    <p class="govuk-body">
      This service is managed by the Environment Agency and we run the Register your flood risk activity exemption (FRAE) service.
    </p>
    <p class="govuk-body">
      Environment Agency is the data controller for this service. A data controller determines how and why personal data (personal information) is processed.
    </p>
    <p class="govuk-body">
      Our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a> explains your rights and how we deal with your personal information. You can access the charter using the link or go to GOV.UK and search 'Environment Agency personal information charter'.
    </p>

    <h2 class="govuk-heading-m">
      The personal data we need
    </h2>
    <p class="govuk-body">
      The personal data we collect about you includes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the name and address of your business or organisation</li>
      <li>contact details including full name, telephone number and email address</li>
      <li>the type of exempt flood risk activity being carried out</li>
      <li>the locations of these activities</li>
    </ul>
    <p class="govuk-body">
      The lawful basis we rely on to process your personal data is article 6(1)(e) of the UK General Data Protection Regulation, which allows us to process personal data when this is necessary to perform a task in the public interest or exercise our official authority. The processing has a basis in the Environmental Permitting (England and Wales) Regulations 2016
    </p>

    <h2 class="govuk-heading-m">
      What we do with your personal data
    </h2>
    <p class="govuk-body">
      We use your personal data to process your registration. If you do not provide the information requested, we cannot register your flood risk activity exemption. We do not use your personal data to make an automated decision or for automated profiling.
    </p>
    <p class="govuk-body">
      We put the name of your business or organisation, the type of exempt flood risk activity being carried out and the location of the activity from your registration on a public register.
    </p>
    <p class="govuk-body">
      We supply GOV.UK Notify with your name, address and email address so they can send emails and letters to you on our behalf.
    </p>
    <p class="govuk-body">
      We will not share or disclose any other personal data to any party outside the Environment Agency without your explicit consent, unless we are lawfully able to do so.
    </p>

    <h2 class="govuk-heading-m">
      How long we keep your personal data
    </h2>
    <p class="govuk-body">
      Information you enter in the FRAE system is saved until you decide to submit it. This allows you to save what you are doing and continue later. Saved information that you do not submit will be deleted after 30 days
    </p>
    <p class="govuk-body">
      After you submit your information, we will keep your personal data for 7 years after a registration has ended.
    </p>

    <h2 class="govuk-heading-m">
      Where your personal data is processed and stored
    </h2>
    <p class="govuk-body">
      We store and process your personal data on Amazon Web Services (AWS) servers within the European Economic Area (EEA).
    </p>
    <p class="govuk-body">
      We will not transfer your personal data outside the UK and EEA.
    </p>

    <h2 class="govuk-heading-m">
      Contact details
    </h2>
    <p class="govuk-body">
      Our Data Protection Officer (DPO) is responsible for independent advice and monitoring of the Environment Agency’s use of personal information.
    </p>
    <p class="govuk-body">
      If you have any concerns or queries about how we process personal data, or if you would like to make a complaint or request relating to data protection, please contact our DPO:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Data Protection Officer, Environment Agency, Horizon House, Deanery Road, Bristol, BS1 5AH</li>
      <li>Email: <a href="mailto:dataprotection@environment-agency.gov.uk">dataprotection@environment-agency.gov.uk</a></li>
    </ul>

    <p class="govuk-body">
      You can find out about your personal data rights from the Information Commissioner's Office (ICO) at the <a href="https://ico.org.uk/your-data-matters">ICO website</a>. This has a full list of your rights under data protection legislation.
    </p>
    <p class="govuk-body">
      You have the right to <a href="https://ico.org.uk/make-a-complaint">lodge a complaint with the ICO</a> at any time.
    </p>
    <p class="govuk-body-s">
      This notice was last updated on 15 February 2022.
    </p>
  </div>
</div>
