# This project uses environment variables for configuration
# Copy .env.example and rename as .env in the project root
# and add correct values. You can also use an environment specific file
# e.g. .env.development

PG_USERNAME = "flood_risk"
PG_PASSWORD = "password"
