# This project uses environment variables for configuration
# Copy .env.example and rename as .env in the project root
# and add correct values. You can also use an environment specific file
# e.g. .env.development

PG_USERNAME = "flood_risk"
PG_PASSWORD = "password"

SECRET_KEY_BASE: ab22062e002d232c2aed8996d48a47bbd6916c34c62d5eb0584769a2611c1f0dd83a6220f5d4d682

ADDRESS_FACADE_TEST_SERVER = "[secret url to test dummy facade server]"
ADDRESS_FACADE_TEST_PORT = 80
ADDRESS_FACADE_CLIENT_ID = "example team1"
ADDRESS_FACADE_KEY = "client1"
