<h1 class="govuk-heading-l">
  <%= t(".confirm_removal_of_partner", name: @partner.full_name) %>
</h1>
<%= form_for(
      [@enrollment, @partner],
      url: delete_enrollment_partner_path(@enrollment, @partner),
      method: :post
    ) do |f| %>
  <%= f.submit(t(".delete"), class: "button") %>
<% end %>

<p class="govuk-body">
  <%= link_to(
        t(".cancel"),
        enrollment_step_path(@enrollment, @enrollment.current_step),
        style: "display:block;padding-top:30px;"
      )
  %>
</p>
