<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @not_in_engine.name %>
</p>

<%= link_to 'Edit', edit_not_in_engine_path(@not_in_engine) %> |
<%= link_to 'Back', not_in_engines_path %>
